VITE_SUPABASE_URL=https://mtyaneymuketljionihm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10eWFuZXltdWtldGxqaW9uaWhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1MjExNzAsImV4cCI6MjEwMDA5NzE3MH0.KahCqsVJ47JyZoABD3-_nxJl6XveZc6PZ-PbqyWWtX4
